body {
    display: grid;
    margin: 0;
    height: 100vh;
    place-items: center;
    background: #ffffff;
  }
  #container {
    height: 100vh;
    min-height: 100vh;
    position: relative;
}

  
  h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
  }
  
  form input, form button {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  